.waiting {
  opacity: 0.5;
  pointer-events: none; }

table.dataTable tbody tr {
  background: none !important; }

.datepicker--button {
  color: #DF0D14 !important;
  font-weight: bold !important; }

input.has-error {
  border-color: #DF0D14 !important; }

.add-cell.error .datepicker-el__btn {
  border: 1px solid #DF0D14 !important; }

.add-cell.error .field,
.add-cell.error .select2-selection {
  border-color: #DF0D14 !important; }

.add-cell.error .field-error {
  color: #DF0D14 !important;
  display: block; }

.control-field.error .select2-selection,
.control-field.error .field {
  border: 2px solid #DF0D14;
  color: #DF0D14; }
  .control-field.error .select2-selection-error,
  .control-field.error .field-error {
    color: #DF0D14;
    margin-top: 5px;
    margin-left: 13px; }

.text-content h4, .text-content h5, .text-content .h4, .text-content .h5 {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 767px) {
    .text-content h4, .text-content h5, .text-content .h4, .text-content .h5 {
      margin-bottom: 20px; } }

.text-content p, .text-content h4, .text-content h5, .text-content .h4, .text-content .h5 {
  width: 66.666%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 767px) {
    .text-content p, .text-content h4, .text-content h5, .text-content .h4, .text-content .h5 {
      width: 100%; } }

.text-content > p > img {
  margin: 30px -25%;
  width: 150%;
  max-width: 150%; }
  @media only screen and (max-width: 767px) {
    .text-content > p > img {
      margin: 30px 0;
      width: 100%;
      max-width: 100%; } }

.text-content iframe {
  width: 100%;
  height: 56.25vw;
  max-height: calc(1100px / 16 * 9);
  margin: 30px 0; }

.text-content p:empty {
  display: none; }

.text-content#quill-html p, .text-content#quill-html h4, .text-content#quill-html h5, .text-content#quill-html .h4, .text-content#quill-html .h5 {
  width: 100%; }

.text-content#quill-html > p > img {
  margin: 30px 0;
  width: 100%;
  max-width: 100%; }

.first-null ul.select2-results__options li[id$="-0"] {
  opacity: 0.5 !important;
  color: #1A1A1A !important; }

.section--head .section-bg__img {
  background-position: center; }

.brackets-col {
  max-width: 285px; }

.non-editable {
  pointer-events: none;
  opacity: 0.2; }

.no-decor {
  text-decoration: none !important; }
